<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>    
    <pipelines>
      <preprocessRequest>
        <processor patch:before = "*[1]" type="Sitecore.Support.Pipelines.PreprocessRequest.IgnoreList, Sitecore.Support.370128"/>
      </preprocessRequest>
    </pipelines>    
    <settings>
      <!-- !!!IMPORTANT!!! enter your .SSO path instead of '/Shibboleth.sso|...'-->
      <setting name="IgnoreUrlPrefixes">
        <patch:attribute name="value">/Shibboleth.sso|...</patch:attribute>
      </setting>
      
      <!-- ABSOLUTE IGNORE URLS
				Set AbsoluteIgnoreUrlPrefixes to a '|' separated list of url prefixes that should not be processed by Sitecore. 
				IMPORTANT: All Sitecore features will be turned off. Same prefixes have to be added to IgnoreUrlPrefixes setting as well
			-->
      <!-- !!!IMPORTANT!!! enter your .SSO path instead of '/Shibboleth.sso|...' -->
      <setting name="AbsoluteIgnoreUrlPrefixes"
				value="/Shibboleth.sso|..." />
      </settings>  
  </sitecore>
</configuration>